#root {
  margin: 0 auto;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
}

.themeLight {
  background: #fff;
  color: #6b6b76;
}

.themeDark {
  background: #4e4e4e;
  color: #fff;
}

.mapButtonsContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}

.mapButton {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  margin: 5px;
}