#root {
  margin: 0 auto;
  text-align: center;
}

.mapContainer {
  width: 100vw;
  height: 100vh;
}

/*original*/
.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.mapButtonsContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
}

.mapButton {
  display: block;
  background: #fff;
  color: #6b6b76;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  margin: 5px;
}